block styles
    link(rel="stylesheet", href="/css/footer.css")
    link(rel="stylesheet", href="/css/heart.css")

footer.footer
    .container
        .footer__content
            ul.social-links
                li
                    a(href="https://www.facebook.com/galina.gorbel" target="_blank") 
                        i.fab.fa-facebook-f
                li
                    a(href="https://github.com/GalinaGorbel" target="_blank") 
                        i.fab.fa-github
                li
                    a(href="#" target="_blank") 
                        i.fab.fa-instagram
                li
                    a(href="https://vk.com/zhuravleva_g" target="_blank") 
                        i.fab.fa-vk
                li
                    a(href="#") 
                        i.far.fa-envelope
            p Made with
                span.heart.fas.fa-heart.fa-2x 
                | in Moscow  
            p © 2021 Galina Gorbel