extends layouts/main-layout.pug

block content
    section.about.block 
        .container
            .wrapper
                .wrapper__top
                    h2.title this is what i do
                    .line    
                    .subtitle at Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .skill
                    .skill__item
                        .skill__item-top Html/Css
                        .line.line_skill
                        .skill__item-text Good things come to those who wait, but only the things left by those who hustle 
                    .skill__item
                        .skill__item-top JavaScript
                        .line.line_skill
                        .skill__item-text Good things come to those who wait, but only the things left by those who hustle 
                    .skill__item
                        .skill__item-top Vue
                        .line.line_skill
                        .skill__item-text Good things come to those who wait, but only the things left by those who hustle 
