extends layouts/main-layout.pug

block content
    section.about.block 
        .container
            .wrapper
                .wrapper__top
                    h2.title About me
                    .line    
                    .subtitle Привет, меня зовут Галина! В прошлом году я заинтересовалась frontend разработкой. В свободное время стала потихоньку вникать в html, css и js. Когда свободного времени стало чуть больше, прошла курс по javascript в онлайн-школе, стала изучать Vue и немного вникла в Node.js, чтобы создать сайт-портфолио для себя. Параллельно работаю в банке, мой опыт отражен в 
                        | 
                        a(href="https://hh.ru/resume/0f1b0ee4ff0908a57a0039ed1f624730616e78") резюме. 
                        | Сейчас я полностью уверена, что хочу менять сферу деятельности и развиваться во frontend разработке.