extends layouts/main-layout.pug

block content
    section.about.block 
        .container
            .wrapper
                .wrapper__top
                    h2.title About me
                    .line    
                    .subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ut deserunt sapiente itaque similique quidem, ipsum tempore non velit provident doloremque corporis dolore eveniet deleniti quisquam asperiores architecto repellat facilis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis rem sint illum molestiae iusto, maxime harum obcaecati? Deserunt et itaque deleniti, iusto magni, repellendus ut dignissimos eius vel quam vitae.